<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRG-decoding</title>
    <style>
        .main {
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
        }
        .btn-submit {
            color: white;
            background: blue;
            border: 1px solid black;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="main">
        <h2>Welcome to online TRG-decoding web-app</h2>
        <p>1) Выберите тип расшифровки</p>
        <select name="decoding-type">
            <option value="ABC">ABC</option>
            <option value="BCD">BCD</option>
            <option value="CDE">CDE</option>
            <option value="DEF">DEF</option>
        </select>
        <p>2) Загрузите изображение ТРГ для обработки</p>
        <div class='upload-image'>
            <form method='post' action='/app/upload' enctype='multipart/form-data'>
                <dl>
                    <p>
                        <input
                            type='file'
                            name='file'
                            class='image-upload'
                            autocomplete='off'
                            required
                        >
                    </p>
                </dl>
                <p>
                    <input type='submit' value='Submit' class='btn-submit'>
                    <p id='result'></p>
                </p>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('result').innerHTML = '{{result}}'
    </script>
</body>
</html>
